
/*---------- general ----------**********************************/
html:root{
    --green: rgb(118, 195, 143);
    --dark-red: rgb(41, 0, 0);
    --light-red: rgb(102, 0, 0);
    --dark-grey: rgb(21, 21, 21);
    --light-grey: rgb(151, 151, 151);
    --medium-grey: rgb(34, 34, 34);
    --footer-grey: #666666;
    --copyright-grey: #1b1a1a;
    --white: white;
}

body{
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
}

/*-- container system----------*****************************************/

.container-fluid, .row{
    width: 100%;
    margin: 0;
}

.container{ 
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}

.col{
    margin: 0;
    padding: 15px;
}
/*---------- background system ----------******************************/

.bg-color-dark-red{
    background-color: var(--dark-red);
}

.bg-color-light-red{
    background-color: var(--light-red);
}

.bg-color-green{
    background-color: var(--green);
}

.bg-color-medium-grey{
    background-color: var(--medium-grey);
}

.bg-color-dark-grey{
    background-color: var(--dark-grey);
}
/*couleur formulaire*/
.bg-form-area{
    background-color: var(--medium-grey);
}

.bg-copyright{
    background-color: var(--copyright-grey);
}

/*---- container system --*****************************************/

.container-fluid, .row{
    width: 100%;
    margin: 0;
}

.header-row{
    border-top: 5px solid var(--green);
    background-color: var(--dark-red);
}

.container{ 
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}

.col{
    margin: 0;
    padding: 15px;
}

/*---------- flex system ----------*******************************/

.d-flex{
    display: flex;
}

.f-justify-content-between{
    justify-content: space-between;
}

.f-justify-content-center{
    justify-content: center;
} 

.f-align-items-center{
    align-items: center;
}

.f-column{
    flex-direction: column;
}

.f_wrap{         
    flex-wrap: wrap;
}

/************************ link system ***************************/
a:link, a:visited, a:active{                             
    text-decoration: none;
    color: currentColor;           
}

/* button system */

.button{
    background-color: var(--green);
    border-radius: 13px;
    width: 142px;
}

/************************* list system ****************************/
ul{
    list-style: none;
    padding: 0;
}

ul > li{
    font-size: 13px;
    text-align: center;
    padding: 10px 19px 10px 19px;
    box-sizing: border-box;
}

ul > li.active{
    background-color: var(--green);
    border-radius: 13px;
}

/************---------- text system  -------*******************************/

.text-upper{
    text-transform: uppercase;
}

.title-header{
    font-size: 30px;
    font-weight: 100;
    margin: 0;
}

.subtitle-header{
    font-size: 12px;
    margin: 0;
    color: #979797;
    line-height: 4px;
}

.text-link-green{
    font-size: 17.33px;
    color: var(--green);
}

.title-carrou{
    font-size: 61.33px;
    margin: 0;
}

.text-carrou{
    font-size: 14px;
    line-height: 23px;
    color: #979797;
    margin: 16px 0 25px 0;
}

.text-carrou-read{
    font-size: 16px;
    padding: 13px 5px 12px 11px;
}

.title-service{
    font-size: 2em;
    margin: 0 0 10px 0;
}

.text-service{
    font-size: 1em;
    margin: 0;
}

.title-footer{
    font-size: 21.33px;
    color: var(--white);
}

.subtitle-footer{
    font-size: 10px;
    color:var(--light-grey);
}

.text-footer{
    font-size: 16px;
    color:var(--light-grey);
}

.text-copyright{
    font-size: 14px;
    color:var(--light-grey);
}

/********--------- header section ----------*****************************/

header{
    min-height: 603px;
}

.slide{
    border: 26px solid #6b6b6b;
    border-radius: 50%;
    margin: 20px 0 50px 0;
}


/********-------- main section ----------********************************/
main{
    min-height: 975px;
}

/* service */

.font-color{
    color: var(--medium-grey);
}

.section-service-size{
    height: 400px;
}

.container-service-pdg{
    padding: 50px 0;
}

.bg-service-title{
    background-color: var(--white);
    height: 300px;
    width: 225px;
} 

.mrg-img{
    margin: 16px 0 0 0; 
}

.text-align-center{
    text-align: center;
}

.bg-service-title:hover{
    background-color: var(--green);
    color: var(--white);
}

.bg-service-title:hover .opacity-img{
    opacity: .5;
}

/* LATEST WORK */

.m-h-title{
    height: 4px;
}

.border{
    height: 4px;
    background-color: var(--medium-grey);
    margin-top: -18.5px;
    margin-bottom: 40px;
} 

.latest-work{
    min-height: 570px;
}

.bg-color-medium-grey{
    background-color: var(--medium-grey);
}

.title-latest-work{
    border-radius: 10px;
    margin: 0 auto;
    padding: 5px; 
}

.div-photo-size{
    width: 290px;
    height: 190px;
    border: 5px solid white;
    margin-bottom: 20px;
    background-position: center;
    background-size: cover;
    flex-direction: column;
    justify-content: flex-end;
}

.img-div-photo-size1{
    background-image: url(../media/latest-work-1.jpg);
}

.img-div-photo-size2{
    background-image: url(../media/latest-work-2.jpg);
}

.img-div-photo-size3{
    background-image: url(../media/latest-work-3.jpg);
}

.img-div-photo-size4{
    background-image: url(../media/latest-work-4.jpg);
}

.img-div-photo-size5{
    background-image: url(../media/latest-work-5.jpg);
}

.img-div-photo-size6{
    background-image: url(../media/latest-work-6.jpg);
}

.img-photo-size{
    width: 290px;
    height: 190px;
}

.div-photo-size:hover{
    border: 5px solid var(--green);
}

.div-photo-size:hover .latest-work-p{
    display:none;
}

.latest-work-p{
    text-align: center;
    background: var(--dark-grey);
    opacity: 0.7;
    height: 20px;
    padding:5px 0;
    margin: 0;
}


/*******---------- footer section ----------****************************/

.footer-height{
    min-height: 385px;
}

.footer-pdg{
    padding: 40px 0;
}

.footer-col{
    width: 225px;
    margin: 0;
    padding: 0;
}

.li-contact{
    color: var(--green);
    padding-left: 0;
    padding-bottom: 12px;
    text-align: left;
    border-bottom: 1px solid var(--footer-grey);
}

.subtitle-footer-admin{
    color: var(--footer-grey);
    font-size: 10px;
}

.color-g{
    color:var(--footer-grey);
}

.input{
    width: 100%;
    height: 34px;
    margin-bottom: 15px;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--dark-grey);
}

.textarea{
    width: 100%;
    height: 105px;
    margin-bottom: 15px;
    border: none;
    border-radius: 15px;
    background-color: var(--dark-grey);
    padding-left: 10px;
}

.submit{
    width: 75px;
    height: 34px;
    padding-left: 10px;
    border: none;
    border-radius: 10px;
    background-color: var(--green);
    font-weight: bold;
}

/******* copyright *********/

.copyright-height{
    min-height: 61px;
}

.border-split{
    background-color: var(--dark-grey);
    height: 3px;
    border-bottom: 2px solid var(--medium-grey);
}

.copyright-pdg {
    padding: 10px 0;
}

/************************** MEDIAQUERIES *********************************/

/********************* max-width: 1200px *****************************************/
@media (min-width: 992px) and (max-width: 1200px){

}
/********************* max-width: 991px *****************************************/
@media (min-width: 768px) and (max-width: 991px){
    .container{
        width: 100%;
    }
}
/********************* max-width: 767px *****************************************/
@media (min-width: 576px) and (max-width: 767px){

}
/********************* max-width: 575px *****************************************/
@media (max-width: 575px){

}
