
/*---------- general ----------**********************************/
html:root{
    --green: rgb(118, 195, 143);
    --dark-red: rgb(41, 0, 0);
    --light-red: rgb(102, 0, 0);
    --dark-grey: rgb(21, 21, 21);
    --light-grey: rgb(48, 48, 48);
    --medium-grey: rgb(34, 34, 34);
    --white: white;
}

body{
    margin: 0;
}

/*---------- background system ----------******************************/

.bg-color-dark-red{
    background-color: var(--dark-red);
}

.bg-color-light-red{
    background-color: var(--light-red);
}

.bg-color-green{
    background-color: var(--green);
}

.bg-color-medium-grey{
    background-color: var(--medium-grey);
}

.bg-color-dark-grey{
    background-color: var(--dark-grey);
}
/*couleur formulaire*/
.bg-form-area{
    background-color: var(--medium-grey);
}

/*---- container system --*****************************************/

.container-fluid, .row{
    width: 100%;
    margin: 0;
}

.container{ 
    width: 80%;
    max-width: 960px;
    margin: 0 auto;
}

.col{
    margin: 0;
    padding: 15px;
}

/*---------- flex system ----------*******************************/

.d-flex{
    display: flex;
}

.f-justify-content-between{
    justify-content: space-between;
}

.f-justify-content-center{
    justify-content: center;
} 

.f-align-items-center{
    align-items: center;
}

.f-column{
    flex-direction: column;
}

.f_wrap{         
    flex-wrap: wrap;
}

/************************ link system ***************************/

a:link, a:visited, a:active{                             
    text-decoration: none;
    color: var(--white);            
}

/************************* list system ****************************/

ul{
    list-style: none;
    padding: 0;
}

ul > li{
    min-width: 110px;               
    text-align: center;
    padding: 8px;
    box-sizing: border-box;
}

ul > li.activ{

}

/************---------- text system  -------*******************************/

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:white;
}

.text-upper{
    text-transform: uppercase;
}

.title-header{
    font-size: 37px;
}

.text-link-green{
    font-size: 17.33px;
}

.title-carrou{
    font-size: 61.33px;
}

.text-carrou{
    font-size: 16px;
}

.title-service{
    font-size: 32px;
    margin: 0 0 10px 0;
}

.text-service{
    font-size: 16px;
    margin: 0;
}

.title-latest{
    font-size: 42.66px;
}

.text-latest{
    font-size: 18.66px;
}

.title-footer{
    font-size: 21.33px;
}

.subtitle-footer{
    font-size: 13.33px;
}

.text-footer{
    font-size: 17.33px;
}

.text-copyright{
    font-size: 16px;
}

/********--------- header section ----------*****************************/

header{
    min-height: 603px;
}

/********-------- main section ----------********************************/

main{
    min-height: 975px;
}

/* service */

.font-color{
    color: var(--medium-grey);
}

.section-service-size{
    height: 400px;
}

.container-service-pdg{
    padding: 50px 0;
}

.bg-service-title{
    background-color: var(--white);
    height: 300px;
    width: 225px;
} 

.mrg-img{
    margin: 16px 0 0 0; 
}

.text-align-center{
    text-align: center;
}

.bg-service-title:hover{
    background-color: var(--green);
    color: var(--white);
}

.bg-service-title:hover .opacity-img{
    opacity: .5;
}


/*******---------- contact section ----------****************************/

.contact{
    min-height: 388px;
}

/**********-------- footer section ----------***************************/

footer{
    min-height: 62px;
}

